################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/*
/OnTheBeachJob.ConsoleUI/obj
/OnTheBeachJob.ConsoleUI/bin
